<!DOCTYPE html>
<html>
	<head>
		<title>Warehouse Wars Online</title>
	</head>
	<body>
		<h1>Warehouse Wars Online</h1>
		<hr/>

		<div id="userpanel">
			<?php
			echo "Welcome, " . $_SESSION['username'] . "<br>Highscore:  " . $_SESSION['highscore'];
			?>
			<form id="logout_form" method="post">
				<input type="hidden" name="action" value="logout" />
				<input type="submit" value="Logout" />
			</form>
			<form id="settings_form" method="post">
				<input type="hidden" name="action" value="settings" />
				<input type="submit" value="Settings" />
			</form>
		</div>

		<hr/>
		<div id="warehouse_wars_link">
			<form id="warehouse_wars_link_form" method="post">
				<input type="hidden" name="action" value="play_warehouse_wars" />
				<input type="submit" value="Play now!" />
			</form>
		</div>

		<div id="warehouse_wars_controls_info">
			<h3>Controls</h3>
			<table>
				<tr><td>Q</td><td>North-West</td></tr>
				<tr><td>W</td><td>North</td></tr>
				<tr><td>E</td><td>North-East</td></tr>
				<tr><td>A</td><td>West</td></tr>
				<tr><td>D</td><td>East</td></tr>
				<tr><td>Z</td><td>South-West</td></tr>
				<tr><td>X</td><td>South</td></tr>
				<tr><td>C</td><td>South-East</td></tr>
				<tr><td>Shift + move</td><td>Grab grabbable object</td></tr>
				<tr><td>Space</td><td>Switch floors</td></tr>
			</table>
				
		</div>

		<hr/>
		<?php
		require_once(dirname(__FILE__) . "/../models/gamestats.php");
		echo display_highscores(get_highscores(10));
		?>
	</body>
</html>
