<div id="userpanel">
	<?php
	echo "Welcome, " . $_SESSION['username'] . "<br>Highscore:  " . $_SESSION['highscore'];
	?>
	<form id="logout" method="post">
		<input type="hidden" name="action" value="logout" />
		<input type="submit" value="Logout" />
	</form>
</div>

<hr/>
<div id="warehouse_wars_link">
	<form id="warehouse_wars_link_form" method="post">
		<input type="hidden" name="action" value="play_warehouse_wars" />
		<input type="submit" value="Play now!" />
	</form>
</div>

<hr/>
<?php
require_once(dirname(__FILE__) . "/../models/gamestats.php");

echo display_highscores(get_highscores(10));
?>
