<!DOCTYPE html>
<html>
	<head>
		<title>Warehouse Wars Online</title>
	</head>

	<body>
		<h1>Warhouse Wars Online</h1>
		<hr/>

		<div id="settings">
			<h1>Settings</h1>
		
			<form id="settings_form" method="post">
				<input type="hidden" name="action" value="settings_submit" />

				Username: <input type="text" name="username" value="<?php echo $_POST['username']; ?>" /><br/>
				Email: <input type="text" name="email" value="<?php echo $_POST['email']; ?>" /><br/>
				New Password: <input type="password" name="new_password" /><br/>
				Confirm New Password: <input type="password" name="confirm_new_password" /><br/>
				<br/>			
				Existing Password: <input type="password" name="existing_password" /><br/>
				<input type="submit" value="Submit changes" />
			</form>
		</div>
		
		<form id="home_form" method="post" />
			<input type="hidden" name="action" value="home" />
			<input type="submit" value="Home" />
		</form>
	</body>
</html>
