<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta HTTP-EQUIV="EXPIRES" CONTENT="-1">
		<title>Computing Science 309 Warehouse Wars</title>
		<script language="javascript" src="static/javascript/ww.js" > </script>
		<script language="javascript" src="static/javascript/ww_actor.js" > </script>
		<script language="javascript" src="static/javascript/ww_player.js" > </script>
		<script language="javascript" src="static/javascript/ww_wall.js" ></script>
		<script language="javascript" src="static/javascript/ww_box.js" ></script>
		<script language="javascript" src="static/javascript/ww_monster.js" ></script>
		<script language="javascript" src="static/javascript/ww_patroller.js" ></script>
		<script language="javascript" src="static/javascript/ww_alien.js" ></script>
		<script language="javascript" src="static/javascript/ww_ghoul.js" ></script>
		<script language="javascript" src="static/javascript/ww_map.js" ></script>

		<audio id="wwSoundLoop" src="static/audio/BanjoKazooie-GruntildaLairMedley.wav" preload="auto"></audio>	
		<a href="javascript:playSong();">Play</a>
		<a href="javascript:pauseSong();">Pause</a>
		<a href="javascript:mute();">Mute</a>

		<script> 
			var stage = null;
			var interval = null;	
			var wwSoundLoop = document.getElementById('wwSoundLoop');		

			function setupGame(){
				stage=new Stage(20,20,"stage");
				stage.initialize();
				wwSoundLoop.loop = true;
				wwSoundLoop.muted = false;
				wwSoundLoop.paused = false;
			}

			function startGame(){
				wwSoundLoop.play();

				/* Event Handlers */
				document.addEventListener(
					'keydown', 
					function processKeydown(event) {
						stage.processKeydown(event);
					});
				setInterval(
					function tick() {
						stage.tick();
					}
					, interval);
			}

			function playSong() {
				wwSoundLoop.play();
			}

			function pauseSong() {
				wwSoundLoop.pause();
			}

			function mute() {
				wwSoundLoop.muted = !wwSoundLoop.muted;
			}

			function pauseGame(){
				// YOUR CODE GOES HERE
			}
			
		</script>
		<style>
			/* style parts of the legend, the controls and the elements in the stage appropriately */

		</style>
	</head>
	<body bgcolor=ffffff onload="setupGame(); startGame();" >
		<h1>Warehouse Wars Online</h1>
		<hr/>

		<center>
			<table>
				<tr>
					<td> <div id="stage"> </div></td> 
					<td>
						<center>
							<div id="game_info_banner">
								<table>
									<tr>
										<td>
											<h1 id="screen_floor_number"></h1>
										</td>
									</tr>
									<tr>
										<td>
											<center><h2 id="user_info_message"></h2></center>
										</td>
									</tr>
									<tr>
										<td>
											<h2 id="player_health_info"></h2>
										</td>
									</tr>
								</table>
							</div>							

							<h2>Legend</h2>
							<table class="legend">
								<tr>
									<td> Player: </td>
									<td> <img width="24" height="24" src="static/icons/face-cool-24.png" id="playerImage" /> </td>
								</tr>
								<tr>
									<td></td>
									<td> Cool Guy </td>
								</tr>
								<tr>
									<td> Environment: </td>
									<td> <img width="24" height="24" src="static/icons/blank.gif" id="blankImage" /> </td>
									<td> <img width="24" height="24" src="static/icons/emblem-package-2-24.png" id="boxImage" /> </td>
									<td> <img width="24" height="24" src="static/icons/wall.jpeg" id="wallImage" /> </td>
								</tr>
								<tr>
									<td></td>
									<td> Empty </td>
									<td> Box </td>
									<td> Wall </td>
								</tr>
								<tr>
									<td> Monsters: </td>
									<td> <img width="24" height="24" src="static/icons/face-devil-grin-24.png" id="patrollerImage" /> </td>
									<td> <img width="24" height="24" src="static/icons/alien-24.png" id="alienImage" /> </td>
									<td> <img width="24" height="24" src="static/icons/ghoul-24.png" id="ghoulImage" /> </td>
								</tr>
								<tr>
									<td></td>
									<td> Patroller </td>
									<td> Alien </td>
									<td> Ghoul </td>
								</tr>
							</table>
							<h2>Controls</h2>
							<table class="controls">
								<tr>
									<td><img src="static/icons/north_west.svg" onclick="stage.player.immediateMove(-1, -1);" /></td>
									<td><img src="static/icons/north.svg" onclick="stage.player.immediateMove(-1, 0);" /></td>
									<td><img src="static/icons/north_east.svg" onclick="stage.player.immediateMove(-1, 1);" /></td>
								</tr>
								<tr>
									<td><img src="static/icons/west.svg" onclick="stage.player.immediateMove(0, -1);" /></td>
									<td>&nbsp;</td>
									<td><img src="static/icons/east.svg"onclick="stage.player.immediateMove(0, 1);" /></td>
								</tr>
								<tr>
									<td><img src="static/icons/south_west.svg" onclick="stage.player.immediateMove(1, -1);" /></td>
									<td><img src="static/icons/south.svg" onclick="stage.player.immediateMove(1, 0);" /></td>
									<td><img src="static/icons/south_east.svg" onclick="stage.player.immediateMove(1, 1);" /></td>
								</tr>
							</table>
						</center>
					</td>
				</tr>
			</table>
		</center>

	<div id="home_button">
		<form id="home_button_form" method="post">
			<input type="hidden" name="action" value="home" />
			<input type="submit" value="Home" />
		</form>
	</div>
	
	</body>
</html>

